# Ignore env/ folder and .idea/ base folders
env/
.idea

# Hide cache
__pycache__/
*.pyc


# Ignore assets directory and any files with .csv extensions
*.csv
*.jpg
assets/*


# Notebooks
notebooks/*

